/* Simple reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100%;
}
img { max-width: 100%; height: auto; display: block; }
ul { list-style: none; }
a { color: inherit; text-decoration: none; }
